.git
.godot
fonts/
interface/
prefabs/
scenes/
scripts/
shaders/
sounds/
.editorconfig
.gitattributes
export_presets.cfg
icon.svg
icon.svg.import
project.godot
project.godot.bak


project.godot
project.godot
project.godot
settings.cfg
settings.cfg
settings.cfg
